## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [4]:
j = 10
print(10)

10

2) Imprimir el tipo de dato de la constante 8.5

In [5]:
x = 8.5
type(x)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type(j)

int

4) Crear una variable que contenga tu nombre

In [7]:
nombre = 'jader'

5) Crear una variable que contenga un número complejo

In [57]:
x = 10 + 10j
print(x)

(10+10j)

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [58]:
type(x)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [14]:
import math
pi = math.pi
print(pi)
print('redondeado'.center(20,'-'))
print(round(pi,4))

3.141592653589793
-----redondeado-----
3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [16]:
verdad_str = 'True'
verdad = True
# no son iguales ya que uno es un tipo de dato str
# y el otro es un valor booleano

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 9

In [17]:
print(type(verdad_str))
print(type(verdad))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [19]:
suma_1 = 10 + 12.3
print(10,'typo de dato: ', type(suma_1))

10 typo de dato:  <class 'float'>

11) Realizar una operación de suma de números complejos

In [59]:
a = 2 + 1j
b = 10 + 8j
print(a + b)

(12+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [61]:
t = 8.2
r = 1 +2j
print(t + r)

(9.2+2j)

13) Realizar una operación de multiplicación

In [20]:
print(10 * 2)
a = 10
b = 20
print(a*b)

20
200

14) Mostrar el resultado de elevar 2 a la octava potencia

In [21]:
print(2**8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [22]:
division = 27 / 4
print(division)

6.75

16) De la división anterior solamente mostrar la parte entera

In [25]:
division = 27 // 4
print(division)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [26]:
division = 27 % 4
print(division)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [28]:
4  * 6 + 3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [36]:
nombre = 'jader'
apellido = 'lopez'
nombre_completo = nombre + ' ' + apellido
print(nombre_completo)
print('texto'.center(20,'-'))
print('pepe' + 'perez')

jader lopez
-------texto--------
pepeperez

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [38]:
2 == '2'
# por que uno es un str y el otro un int

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [42]:
a = 2
b = '2'
print(a == b )
print('corregir'.center(20,'-'))
print(a == int(b))

False
------corregir------
True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [45]:
# a = float('3,8')
# lo anteriro sucede por que para que sea flotante
# debe ser con un punot '.'
z = float('3.8')
print(type(z))

<class 'float'>

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [46]:
h = 3
h -= 1
print(h)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [47]:
# lo anterior sucede por que se estan desplazando
# los bits que conforman el numero
# al desplazor se duplican cada vez mas
1 << 2

4

In [48]:
1 << 3

8

In [49]:
1 << 4

16

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [51]:
# no se pueden sumar int con str
# 2 + '2'
print ( 2 + 2)
# lo anterior me arroja la suma de dos numero
print ('2' + '2')
# lo anteiror me arroja 22 una concatenacion
# de tipo str

4
22

26) Realizar una operación válida entre valores de tipo entero y string

In [54]:
(print('jader '*5))

jader jader jader jader jader